.button {
  display: block;

  margin: 0 20px;

  color: white;

  background-color: @brand-color;

  &:hover, &:active {
    background-color: @brand-color-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
