.catalog {

}

.catalog__list {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  list-style: none;
}

.catalog__item {
  padding: 0 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__heading {
  font: inherit;
}

.catalog__button {
  padding: 10px 0;
}

.catalog__more {
  padding: 20px;

  text-align: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__show-more {
  position: relative;

  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 30px;
    height: 2px;

    background-color: #d0d0d0;

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }
}

.catalog__more-heading {
  font: inherit;
}

.catalog__more-text {
  font-family: Arial, sans-serif;
  .font(12px, 16px, 400, #444);
  text-transform: none;
}

.catalog__more-button {
  padding: 10px 0;

  color: rgba(68, 68, 68, 1);

  background-color: @gray-background;

  &:hover,
  &:active {
    background-color: rgba(235, 235, 235, 1);
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__additional {
}

.catalog__additional-heading {
  padding: 20px;

  text-transform: none;
  .font(24px, 24px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__additional-list {
  margin: 0;
  padding: 20px 0;

  list-style: none;
}
