.catalog {
  margin: 0 -20px;
  border-top: @gray-line;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  .list-reset;

  &--additional {
    padding-top: 12px;
    margin-bottom: 39px;
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;

  padding: 0 20px;
  padding-bottom: 24px;

  max-width: 324px;

  border-bottom: @gray-line;

  &--more {
    justify-content: center;
    position: relative;

    padding-top: 80px;
  }

  &--additional {
    .indent-reset;
    padding-bottom: 17px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cdcdcd;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.catalog__text-wrapper {
  min-width: 140px;
  order: 1;
}

.catalog__text-wrapper a {
  display: inline-block;
  margin: 22px 0 12px;

  vertical-align: top;
}

.catalog__heading {
  .indent-reset;
  .font(16px, 20px, 400);

  &--additional {
    margin-bottom: 10px;
  }
}

.catalog__image-link {
  line-height: 0;
}

.catalog__button {
  order: 2;
  flex-grow: 1;
  padding: 10px 0;
}

.catalog__cross {
  position: absolute;
  top: 26px;
  left: center;

  width: 30px;
  height: 30px;

  &::before,
  &::after {
    position: absolute;
    top: 14px;
    left: 0;

    width: 30px;
    height: 2px;

    background-color: #d3d3d3;

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }
}

.catalog__more-heading {
  .indent-reset;
  margin-bottom: 7px;

  .font(16px, 20px, 400);
}

.catalog__more-text {
  .indent-reset;
  margin-bottom: 21px;

  .arial(12px, 16px, 400, #444444);
  text-transform: none;
}

.catalog__more-button {
  flex-grow: 1;
  padding: 11px 30px 9px;


  color: rgba(68, 68, 68, 1);

  background-color: @gray-background;

  &:hover,
  &:active {
    background-color: rgba(235, 235, 235, 1);
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__additional-heading {
  display: flex;
  align-items: center;
  .indent-reset;
  padding: 28px 0 34px;

  text-transform: none;
  .font(24px, 24px);

  border-bottom: 1px solid #cdcdcd;

  &::after {
    flex-grow: 1;
    margin-left: 22px;
    margin-right: -20px;
    margin-top: 6px;
    min-width: 20px;
    height: 3px;

    background-color: @brand-color;
    content: "";
  }
}

.catalog__additional-list {
  .list-reset;
  margin: 0 -20px;
  padding-top: 12px;
}

// ========================TABLET=========================

@media (min-width: @tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;

    max-width: 708px;
  }

  .catalog__item {
    margin-right: 60px;
    min-width: 324px;

    border: none;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .catalog__additional {
    width: 708px;
    margin: 0 auto;
  }
}

// ======================DESKTOP===========================

@media (min-width: @desktop-width) {
  .catalog__list {
    max-width: 1220px;
  }

  .catalog__item {
    margin-right: 80px;
    min-width: 245px;

    &:nth-child(even) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &--more {
      padding: 0;
    }
  }
}
