.catalog {
  border-top: @gray-line;
}

.catalog__list {
  .indent-reset;
  padding-bottom: 20px;

  border-bottom: @gray-line;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;

    max-width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    max-width: 1220px;
  }
}

.catalog__item {
  padding: 0 20px;
  padding-bottom: 20px;

  max-width: 324px;

  border-bottom: @gray-line;

  &--more {
    padding: 20px;

    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .catalog__item {
    margin-right: 60px;
    min-width: 324px;

    border: none;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    margin-right: 80px;
    min-width: 245px;

    &:nth-child(even) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &--more {
      padding: 0;
    }
  }
}

.catalog__heading {
  .font(16px, 20px, 400);
}

.catalog__button {
  padding: 10px 0;
}

.catalog__show-more {
  position: relative;

  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 30px;
    height: 2px;

    background-color: #d0d0d0;

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }
}

.catalog__more-heading {
  .font(16px, 20px, 400);
}

.catalog__more-text {
  .arial(12px, 16px, 400, #444444);
  text-transform: none;
}

.catalog__more-button {
  padding: 10px 0;

  color: rgba(68, 68, 68, 1);

  background-color: @gray-background;

  &:hover,
  &:active {
    background-color: rgba(235, 235, 235, 1);
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__additional {
  .marking;
}

@media (min-width: @tablet-width) {
  .catalog__additional {
    width: 708px;
    margin: 0 auto;
  }
}

.catalog__additional-heading {
  padding: 20px;

  text-transform: none;
  .font(24px, 24px);

  border-bottom: @gray-line;
}

.catalog__additional-list {
  margin: 0;
  padding: 20px 0;

  list-style: none;
}
