// .categiries {
//
// }

.categories__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.categories__item {
  position: relative;

  padding-top: 30px;
  padding-bottom: 19px;
  margin-bottom: 20px;
  background-color: @gray-background;

  &::before {
    position: absolute;

    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;

    background: @brand-color;
    border-radius: 50%;
    content: "";
  }

  &--weight-loss::after {
    position: absolute;

    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background: url("../img/icon-cat-slim.svg") no-repeat;
    content: "";
  }

  &--set-of-weight::after {
    position: absolute;

    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background: url("../img/icon-cat-pro.svg") no-repeat;
    content: "";
  }
}

@media (min-width: @tablet-width) {
  .categories__item {
    padding: 75px 52px 60px;
    &::before {
      top: 92px;
      left: auto;
      right: 60px;

      width: 200px;
      height: 200px;
    }

    &--weight-loss::after {
      top: 92px;
      left: auto;
      right: 80px;

      width: 140px;
      height: 194px;
    }

    &--set-of-weight::after {
      top: 140px;
      left: auto;
      right: 30px;

      width: 268px;
      height: 112px;
    }
  }
}

.categories__heading {
  .indent-reset;
  margin-left: 91px;
  margin-bottom: 29px;

  .font(24px, 37px);
}

@media (min-width: @tablet-width) {
  .categories__heading {
    margin-left: 0;
    margin-bottom: 29px;

    .font(36px, 37px);
  }
}

.categories__text {
  margin: 0 20px 18px;
  padding-bottom: 22px;

  .arial(14px, 18px);
  text-transform: none;

  border-bottom: @gray-line;
}

@media (min-width: @tablet-width) {
  .categories__text {
    margin: 0 240px 18px 0;

    .arial(16px, 24px);

    border: none;
  }
}

.categories__link {
  position: relative;

  margin-left: 20px;

  .font(16px, 16px);

  &::before {
    position: absolute;
    top: 6px;
    right: -45px;

    width: 33px;
    height: 11px;

    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    background-position: -8px;

    transition: background-position 0.1s;

    content: "";
  }

  &:hover::before {
    background-position: 0;
  }

  &:active,
  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .categories__link {
    margin-left: 0;

    .font(20px, 20px);

    &::before {
      top: 10px;
      right: -55px;
    }
  }
}
