// .contacts {
//
// }

.contacts__map {
  position: relative;

  min-height: 362px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat 0 -38px;

  &::before {
    position: absolute;
    top: 139px;
    left: 129px;

    width: 62px;
    height: 62px;

    background: url("../../img/map-pin.png") no-repeat;
    background-size: 100%;

    content: "";
  }
}
