.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0 auto;
  max-width: 280px;
}

.copyrights__link {
  display: flex;
  justify-content: space-between;
  margin-left: -1px;
  margin-bottom: 15px;
  width: 100%;

  .arial(16px, 16px, 400, #444444);
  text-transform: none;

  &:active {
    opacity: 0.3;
  }
}

.copyrights__text {
  margin-top: 8px;
}

.copyrights__icon {
  fill: #666666;
}

.copyrights__link:hover .copyrights__icon {
  fill: @brand-color;
}

// ===========================TABLET=======================

@media (min-width: @tablet-width) {
  .copyrights {
    .indent-reset;
    min-width: 162px;
  }
}
