.example {
  padding: 20px 0 36px;
  background-color: @gray-background;
}

.example__heading {
  margin: -3px 20px 23px;

  .font(36px, 60px);
  text-transform: none;
}

.example__text {
  margin: 0 20px;
  padding: 0;

  .arial(14px, 18px);
  text-transform: none;
}

.example__result {
  margin: 20px auto;
  margin-bottom: 0px;
}

.example__total-cost {
  .indent-reset;
  margin-top: 4px;
  margin-bottom: 34px;

  text-align: center;
  .font(14px, 20px);
}

.example__photos {
  .list-reset;
  margin: 0 auto 29px;
}

.example__toggles {
  margin: auto;
}
