.example {
  padding: 17px 20px 36px;
  margin: 0 -20px;
  background-color: @gray-background;
}

.example__heading {
  .indent-reset;
  margin-bottom: 23px;

  .font(36px, 60px);
  text-transform: none;
}

.example__text {
  .indent-reset;
  margin-bottom: 20px;

  .arial(14px, 18px);
  text-transform: none;
}

.example__result {
  .indent-reset;
  margin-bottom: 4px;
}

.example__total-cost {
  .indent-reset;
  margin-bottom: 34px;

  text-align: center;
  .font(14px, 20px);
}

.example__total-cost br {
  display: none;
}

.example__slider {
  margin: 0 -20px;
}

// ==========================TABLET===========================

@media (min-width: @tablet-width) {
  .example {
    .indent-reset;
    margin: -28px -30px 0;
    padding: 43px 30px 0;

    border-top: @gray-line;
    background-color: #ffffff;
  }

  .example__heading {
    margin-bottom: 64px;
    .font(60px, 60px);
  }

  .example__text {
    margin-bottom: 48px;
    max-width: 680px;

    .arial(16px, 24px);
  }

  .example__result-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 52px;
  }

  .example__total-cost {
    padding-top: 12px;
    text-align: right;
    .font(20px, 30px);
  }

  .example__total-cost br {
    display: block;
  }

  .example__slider {
    margin: 0 -30px;
  }
}

// ========================DESKTOP=============================

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 0 110px;

    background: linear-gradient(to bottom, #ffffff, #ffffff 190px, @gray-background 190px);
  }

  .example__heading {
    position: absolute;
    top: 50px;
    left: 110px;

    .indent-reset;
  }

  .example__result-wrapper {
    padding: 265px 0 60px;
    width: 440px;
  }

  .example__total-cost {
    float: none;
    width: auto;
    .indent-reset;

    text-align: left;
  }
}
