.example {
  padding: 17px 20px 36px;
  margin: 0 -20px;
  background-color: @gray-background;
}

.example__heading {
  .indent-reset;
  margin-bottom: 23px;

  .font(36px, 60px);
  text-transform: none;
}

.example__text {
  .indent-reset;
  margin-bottom: 20px;

  .arial(14px, 18px);
  text-transform: none;
}

.example__result {
  .indent-reset;
  margin-bottom: 4px;
}

.example__total-cost {
  .indent-reset;
  margin-bottom: 34px;

  text-align: center;
  .font(14px, 20px);
}

.example__slider {
  margin: 0 -20px;
}

// ==========================TABLET===========================

@media (min-width: @tablet-width) {
  .example {
    .indent-reset;
    margin: -28px -30px 0;
    padding: 43px 30px 0;

    border-top: @gray-line;
    background-color: #ffffff;
  }

  .example__heading {
    margin-bottom: 64px;
    .font(60px, 60px);
  }

  .example__text {
    margin-bottom: 48px;
    max-width: 680px;

    .arial(16px, 24px);
  }

  .example__result-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 52px;
  }

  .example__total-cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    padding-top: 12px;
    text-align: right;
    .font(20px, 30px);
  }

  .example__total-element {
    width: 100%;
  }

  .example__slider {
    margin: 0 -30px;
  }
}

// ========================DESKTOP=============================

@media (min-width: @desktop-width) {
  .example {
    margin: 0 -110px;
    padding: 83px 110px 0;

    background: linear-gradient(to bottom, #ffffff, #ffffff 218px, @gray-background 218px);
    border-top: none;
  }

  .example__columns {
    display: flex;
  }

  .example__result-wrapper {
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 82px;
    margin-right: 235px;
    width: 440px;
  }

  .example__result {
    margin-bottom: 15px;
  }

  .example__text {
    margin-bottom: 62px;
    max-width: 435px;
  }

  .example__total-cost {
    width: auto;
    .indent-reset;

    text-align: left;
  }

  .example__total-cost {
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
    width: auto;

    padding-top: 12px;
    text-align: right;
    .font(20px, 30px);
  }

  .example__total-element {
    width: auto;
    margin-right: 65px;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__slider {
    margin-top: -158px;
  }
}
