.features {
  margin-bottom: 46px;
  padding: 0 20px;

  text-transform: none;
}

.features-heading {
  .indent-reset;
  margin-top: -3px;

  .font(36px, 60px);
}

.features__list {
  .indent-reset;
  margin-left: 80px;
  padding-top: 30px;

  .arial(14px, 18px);

  list-style: none;
}

.features__item {
  position: relative;

  margin-bottom: 26px;

  &::before {
    position: absolute;
    top: -2px;
    left: -80px;

    width: 60px;
    height: 60px;

    background-color: @brand-color;

    content: "";
  }

  &--sheet::after {
    position: absolute;
    top: -2px;
    left: -80px;

    width: 60px;
    height: 60px;

    background: url("../img/advantage-leaf@1x.png") no-repeat 5px 5px;

    content: "";
  }

  &--powder::after {
    position: absolute;
    top: -2px;
    left: -80px;

    width: 60px;
    height: 60px;

    background: url("../img/advantage-powder@1x.png") no-repeat 5px 4px;

    content: "";
  }

  &--tableware::after {
    position: absolute;
    top: -2px;
    left: -80px;

    width: 60px;
    height: 60px;

    background: url("../img/advantage-dining@1x.png") no-repeat 4px 5px;

    content: "";
  }

  &--clock::after {
    position: absolute;
    top: -2px;
    left: -80px;

    width: 60px;
    height: 60px;

    background: url("../img/advantage-clock@1x.png") no-repeat 5px 5px;

    content: "";
  }
}

.features__text {
  .indent-reset;
}
