.features {
  margin: 0 auto 41px;

  text-transform: none;
}

.features-heading {
  .indent-reset;
  .font(36px, 60px);
}

.features__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0;
  padding-top: 25px;

  list-style: none;
}

.features__item {
  position: relative;

  margin-bottom: 16px;
  padding: 5px 0;
  padding-left: 80px;
  min-height: 64px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__icon {
  position: absolute;
  top: 3px;
  left: 0;

  width: 60px;
  height: 60px;

  &--leaf {
    background: @brand-color url("../img/advantage-leaf@1x.png") no-repeat center;
  }

  &--powder {
    background: @brand-color url("../img/advantage-powder@1x.png") no-repeat center;
    background-position: 5px 4px;
  }

  &--tableware {
    background: @brand-color url("../img/advantage-dining@1x.png") no-repeat center;
    background-position: 4px 5px;
  }

  &--clock {
    background: @brand-color url("../img/advantage-clock@1x.png") no-repeat center;
  }
}

.features__text {
  .indent-reset;

  .arial(14px, 18px);
}

// ==========================TABLET=======================

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 0;
    padding-top: 45px;
  }

  .features-heading {
    margin-bottom: 44px;
    .font(60px, 60px);
  }

  .features__list {
    width: 708px;
  }

  .features__item {
    .indent-reset;
    padding-top: 115px;
    margin-right: 133px;
    margin-bottom: 87px;
    width: 250px;
    min-height: 230px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 87px;
    }
  }

  .features__icon {
    width: 80px;
    height: 80px;

    &--powder {
      background-position: center;
    }

    &--tableware {
      background-position: center;
    }
  }

  .features__text {
    .arial(16px, 24px);
  }
}

// =======================DESKTOP=========================

@media (min-width: @desktop-width) {
  .features {
    margin-left: 7.638%;
    margin-right: 7.638%;
    border: none;
  }

  .features__list {
    width: auto;
  }

  .features__item {
    width: 20.08%;
    margin-right: 6.55%;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 6.55%;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
