.features {
  margin: 0 auto 41px;

  text-transform: none;
}

.features-heading {
  .indent-reset;
  .font(36px, 60px);
}

.features__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0;
  padding-top: 25px;

  list-style: none;
}

.features__item {
  position: relative;

  margin-bottom: 16px;
  padding: 5px 0;
  padding-left: 80px;
  min-height: 64px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__icon {
  position: absolute;
  top: 3px;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: @brand-color;

  &::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 50px;
    height: 50px;

    background-size: 100%;

    content: "";
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    top: 4px;

    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--tableware::before {
    left: 4px;

    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.features__text {
  .indent-reset;

  .arial(14px, 18px);
}

// ==========================TABLET=======================

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 0;
    padding-top: 45px;
  }

  .features-heading {
    margin-bottom: 44px;
    .font(60px, 60px);
  }

  .features__list {
    margin: 0 -30px;
    counter-reset: myCounter;
  }

  .features__item {
    .indent-reset;
    padding: 0 30px;
    padding-top: 115px;
    padding-right: 100px;
    margin-bottom: 87px;
    width: 50%;
    min-height: 230px;

    &:last-child {
      margin-bottom: 87px;
    }

    &::before {
      position: absolute;
      top: -36px;
      right: 107px;

      .font(281px, 281px, 400, #f2f2f2);

      counter-increment: myCounter;
      content: counter(myCounter);
      z-index: -1;
    }

    &--first {
      &::before {
        right: 125px;
      }
    }
  }

  .features__icon {
    left: 30px;
    width: 80px;
    height: 80px;

    &::before {
      top: 15px;
      left: 15px;
    }
  }

  .features__text {
    .arial(16px, 24px);
  }
}

// =======================DESKTOP=========================

@media (min-width: @desktop-width) {
  .features {
    border: none;
  }

  .features__list {
    margin: 0 -40px;
  }

  .features__item {
    .indent-reset;
    margin-bottom: 83px;
    padding: 115px 20px 0 40px;
    width: 25%;

    &:last-child {
      margin-bottom: 83px;
    }

    &::before {
      right: 38px;
    }

    &--first {
      &::before {
        right: 55px;
      }
    }
  }

  .features__icon {
    left: 40px;
  }
}
