.food-program {
  position: relative;

  margin-bottom: 197px;
  padding-top: 26px;
  min-width: 320px;
  min-height: 305px;

  text-align: center;

  background: @brand-color url("../img/index-background-mobile@1x.jpg") no-repeat center top;
  background-size: 100%;
}

.food-program__heading {
  margin: 0 auto 26px;
  padding: 0;
  width: 270px;

  .font(36px, 36px, 400, #ffffff);
  text-transform: none;
  text-align: center;

  &--inner-page {
    position: static;

    padding: 15px 20px;
    padding-bottom: 27px;

    text-align: left;
    .font(36px, 60px);
  }
}

.food-program__slogan {
  .indent-reset;
  .font(14px, 14px, 400, #ffffff);
  text-align: center;
}

.food-program__image {
  position: absolute;
  top: 166px;
  left: 0;
  right: 0;

  margin: auto;
}

.food-program__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -175px;

  margin: 0 20px;
  padding: 12px 30px 10px;

  .font(14px, 18px, 400, #ffffff);
}

// =========================TABLET=========================

@media (min-width: @tablet-width) {
  .food-program {
    padding: 0 30px;
    margin-bottom: 0;
    min-height: 830px;

    text-align: left;

    background: none;
  }

  .food-program__heading {
    position: static;

    margin: 60px 87px 30px;
    width: 420px;

    .font(60px, 60px);
    text-align: left;
  }

  .food-program__slogan {
    margin-left: 90px;

    .font(20px, 20px);
    text-align: left;
  }

  .food-program__image {
    top: 180px;

    text-align: center;

    z-index: -1;
  }

  .food-program__button {
    position: static;

    display: inline-block;
    margin-left: 90px;
    margin-top: 30px;
    padding: 15px 30px 15px;

    .font(20px, 20px, 400, #ffffff);
  }
}

// ============================DESKTOP==========================

@media (min-width: @desktop-width) {
  .food-program {
    position: static;
  }

  .food-program__image {
    top: 0px;
    left: auto;
    right: 325px;
    bottom: auto;

    text-align: left;

    z-index: 1;
  }
}
