.for-dealers {
  padding: 20px;

  background-color: white;

  &--inner-page {
    background-color: @gray-background;
  }
}

.for-dealers__heading {
  font: inherit;
}

.for-dealers__address {
  font-family: "Arial", sans-serif;
  .font(14px, 20px, 400, #444);
  text-transform: none;
}
