.for-dealers {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
  padding: 29px 20px 25px;


  background-color: #ffffff;

  &--inner-page {
    background-color: @gray-background;
  }
}

.for-dealers__heading {
  width: 125px;

  .font(16px, 20px, 400);
}

.for-dealers__address {
  .indent-reset;
  width: 140px;

  .arial(14px, 20px, 400, #444444);
  text-transform: none;
}

// ============================TABLET=========================

@media (min-width: @tablet-width) {
  .for-dealers {
    margin: 0 -30px;
    padding: 66px 70px 55px;
  }

  .for-dealers__heading {
    .font(20px, 25px);
    width: 220px;
  }

  .for-dealers__address {
    .indent-reset;
    width: auto;
    max-width: 200px;

    .arial(16px, 20px);
    text-align: right;
  }

  .for-dealers__city {
    display: inline-block;
    margin-top: 20px;
  }
}

// ===========================DESKTOP=========================

@media (min-width: @desktop-width) {
  .for-dealers {
    justify-content: flex-start;
    position: absolute;
    top: 93px;
    left: 7.7%;

    margin: 0;
    padding: 4.6% 0 3.9% 5.2%;
    width: 39.5%;

    background-color: #ffffff;

    z-index: 1;

    &--inner-page {
      background-color: #ffffff;
    }
  }

  .for-dealers__heading {
    margin-right: 10.5%;
    width: 40%;
  }

  .for-dealers__address {
    width: 35%;
    text-align: left;
  }
}
