.form {
  display: flex;
  flex-direction: column;

  padding-bottom: 32px;
}

.form__fieldset {
  .indent-reset;
  margin-bottom: 9px;

  border: none;

  &--border {
    margin: 0 -20px;
    padding: 25px 20px 2px;
    border: @gray-line;
  }

  &--contact-info {
    padding-top: 28px;
  }

  &--comment {
    padding-top: 5px;
    margin-bottom: 12px;
  }

  &--additional {
    margin-bottom: 20px;
  }
}

.form__item {
  display: flex;
  align-items: center;

  .indent-reset;
  margin-bottom: 14px;

  &--checkbox {
    margin-bottom: 9px;
    padding-top: 5px;
  }
}

.form__field {
  flex-grow: 1;
  margin: 0;
  padding: 12px 15px 13px;

  border: 1px solid rgba(205, 205, 205, 0.5);

  &--email,
  &--phone {
    position: relative;
    padding-right: 45px;
  }
}

.form__label {
  position: relative;

  margin-right: 12px;

  cursor: pointer;

  &--for-radio,
  &--for-checkbox {
    margin-left: 45px;
    margin-bottom: 9px;
  }

  &--for-radio::before,
  &--for-checkbox::before,
  &--for-radio::after,
  &--for-checkbox::after {
    position: absolute;
    top: -5px;
    left: -46px;

    content: "";
  }

  &--for-radio::before {
    width: 30px;
    height: 30px;

    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 50%;
  }

  &--for-radio::after {
    top: 4px;
    left: -37px;

    width: 12px;
    height: 12px;

    background-color: transparent;
    border-radius: 50%;
  }

  &--for-checkbox::before {
    width: 30px;
    height: 30px;

    border: 1px solid rgba(205, 205, 205, 1);
  }

  &--for-checkbox::after {
    top: -2px;
    left: -36px;

    width: 12px;
    height: 20px;

    background-color: transparent;
    border: 2px solid transparent;
    border-top: none;
    border-left: none;

    transform: rotate(45deg);
  }
}

.form__radio:checked + .form__label::after {
  background-color: @brand-color;
}

.form__checkbox:checked + .form__label::after {
  border-color: @brand-color;
}

.form__section-title {
  display: flex;
  .indent-reset;
  margin-bottom: 34px;
  text-transform: none;
  .font(24px, 24px);

  &::after {
    flex-grow: 1;
    margin-left: 21px;
    margin-right: -20px;
    margin-top: 14px;
    min-width: 20px;
    height: 3px;

    background-color: @brand-color;
    content: "";
  }
}

.form__row-wrapper {
  display: flex;
  flex-direction: column;
}

.questionnaire__button {
  margin-bottom: 21px;
}

// ===========================TABLET==========================

@media (min-width: @tablet-width) {
  .form__item {
    min-width: 324px;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

// =========================DESKTOP===========================

@media (min-width: @desktop-width) {
  .form__row-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
