@media (max-width: 767px) {
  .main-nav {
    display: none;

    &--nojs,
    &--opened {
      display: block;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 65%;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 50%;
  }
}
