.nav-list {
  display: flex;
  flex-wrap: wrap;
  .list-reset;
}

.nav-list__item {
  width: 100%;
  text-align: center;

  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.nav-list__link {
  position: relative;

  display: inline-block;
  padding: 23px 0 22px;

  vertical-align: top;
  color: inherit;

  cursor: default;

  &:hover:not(&--active) {
    color: @text-black-hover;

    cursor: pointer;
  }

  &:active:not(&--active) {
    color: @text-black-down;
  }

  &--active::before {
    position: absolute;
    bottom: 8px;

    width: 100%;
    height: 2px;

    background-color: @brand-color;

    content: "";
  }
}

// ==========================TABLET============================

@media (min-width: @tablet-width) {
  .nav-list {
    justify-content: space-between;
    width: 450px;
  }

  .nav-list__item {
    width: auto;

    border: none;

    &:last-child {
      border: none;
    }
  }
}

// ===========================DESKTOP==========================
