.offer__link {
  position: relative;

  display: block;
  margin: 0 20px;
  width: 280px;
  min-height: 289px;

  text-align: center;

  background: @brand-color url("../img/gift-photo-mobile@1x.jpg") no-repeat;
}

.offer__text {
  display: inline-block;
  .indent-reset;
  margin-top: 190px;
  width: 165px;

  .arial;
  text-transform: none;
  color: #ffffff;
  vertical-align: top;
}
