.offer {
  margin-bottom: 35px;
}

.offer__link {
  position: relative;

  display: block;
  padding-top: 187px;
  min-height: 289px;

  text-align: center;

  background: @brand-color url("../img/gift-photo-mobile@1x.jpg") no-repeat center;
  background-size: 100%;

  &::before {
    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;

    background: url("../img/icon-gift.svg") no-repeat;

    transform: translateX(-50%);

    content: "";
  }
}

.offer__text {
  display: inline-block;
  .indent-reset;
  width: 150px;

  .arial;
  text-transform: none;
  color: #ffffff;
  vertical-align: top;
}

// =============================TABLET==========================

@media (min-width: @tablet-width) {
  .offer {
    margin-bottom: 0;
  }

  .offer__link {
    display: block;
    padding: 72px 72px 68px 59.8%;
    min-height: 200px;

    text-align: left;

    background: @brand-color url("../img/gift-photo-mobile@1x.jpg") no-repeat;

    &::before {
      left: 16.7%;
    }

    .offer__text {
      display: block;
      width: 180px;
    }
  }
}

// =============================DESKTOP==========================

@media (min-width: @desktop-width) {
  .offer__link {
    padding: 25px;
    padding-top: 187px;
    width: 245px;
    min-height: 289px;

    text-align: center;

    &::before {
      left: 50%;
    }
  }

  .offer__text {
    margin: 0 auto;
  }
}
