.page-footer {
  padding-bottom: 20px;
  background-color: @gray-background;
}

.page-footer__logo-wrapper {
  margin: 0 20px 23px;
  padding: 39px 0 28px;

  text-align: center;

  border-bottom: @gray-line;
}

.page-footer__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyrights {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0 20px;
  min-height: 53px;
}

.page-footer__copyrights-link {
  margin-left: -1px;
  margin-bottom: 13px;

  .arial(16px, 16px, 400, #444444);
  text-transform: none;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyrights-link:hover + .page-footer__copyrights-icon {
  fill: @brand-color;
}

.page-footer__copyrights-link:active + .page-footer__copyrights-icon {
  opacity: 0.3;
}

.page-footer__copyrights-icon {
  margin-bottom: 3px;

  fill: #666666;
}
