.page-main {
  border-top: @gray-line;
  padding-top: 15px;
}

.page-main__heading {
  .indent-reset;
  margin-bottom: 28px;

  .font(36px, 60px);
  text-transform: none;

  &--form {
    margin-bottom: 26px;
  }
}

// ======================TABLET========================

@media (min-width: @tablet-width) {
  .page-main {
    padding-top: 47px;
    margin-bottom: 0;

    border-top: none;
  }

  .page-main__heading {
    margin-bottom: 25px;

    .font(60px, 60px);

    border: none;
  }
}

// =======================DESKTOP=========================

@media (min-width: @desktop-width) {
  .page-main {
    padding-top: 65px;
  }

  .page-main__heading {
    margin-bottom: 23px;
  }

  .page-main__columns {
    display: flex;
  }
}
