.page-main__heading {
  .indent-reset;
  padding: 15px 20px 28px;
  margin: 0 -20px;

  .font(36px, 60px);
  text-transform: none;

  border-top: @gray-line;

  &--form {
    padding-bottom: 26px;
  }
}

// ======================TABLET========================

@media (min-width: @tablet-width) {
  .page-main {
    margin-bottom: 0;
  }

  .page-main__heading {
    padding: 47px 0 25px;
    margin: 0;

    .font(60px, 60px);

    border: none;
  }
}

// =======================DESKTOP=========================

@media (min-width: @desktop-width) {
  .page-main {
    margin-bottom: 0;
  }

  .page-main__heading {
    padding: 65px 110px 23px;
  }

  .page-main__columns {
    display: flex;
    align-items: flex-start;
    padding: 12px 7.63%;
  }
}
