.page-header {
  position: relative;

  .font(20px, 20px, 500);
}

.page-header__logo {
  display: block;
  padding: 11px 0 14px;
  margin-bottom: 1px;
  width: 191px;

  &:hover:not(&--disabled) {
    opacity: 0.8;
  }

  &:active:not(&--disabled) {
    opacity: 0.6;
  }
}

@media (max-width: @tablet-width) {
  .page-header__button {
    position: absolute;
    top: 23px;
    right: 20px;

    width: 24px;
    height: 18px;

    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;

    &--nojs {
      display: none;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 2px;

      background-color: #000000;
      box-shadow: 0 16px 0 0;

      transition: top 0.3s, box-shadow 0.3s, transform 0.8s;

      content: "";
    }

    &::after {
      position: absolute;
      top: 8px;
      left: 0;

      width: 24px;
      height: 2px;

      background-color: #000000;

      transition: transform 0.4s;

      content: "";
    }

    &--opened {
      &::before {
        top: 8px;
        left: 0;

        box-shadow: 0 0 0 0;

        transform: rotate(-45deg);
      }

      &::after {
        top: 8px;
        left: 0;

        transform: rotate(45deg);
      }
    }
  }
}

// ==============================TABLET===========================

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;

    padding: 0 30px;

    .font(18px, 25px);
  }

  .page-header__button {
    display: none;
  }
}

// =========================DESKTOP==============================
