.page-main__heading {
  .indent-reset;
  margin-top: 15px;
  margin-bottom: 28px;

  .font(36px, 60px);
  text-transform: none;

  &--form {
    margin-bottom: 26px;
  }
}

// ======================TABLET========================

@media (min-width: @tablet-width) {
  .page-main__heading {
    margin-top: 0;
    margin-bottom: 25px;

    .font(60px, 60px);
  }
}

// =======================DESKTOP=========================

@media (min-width: @desktop-width) {
  .page-main__heading {
    margin-bottom: 23px;
  }

  .page-main__columns {
    display: flex;
  }
}
