.page-footer {
  padding-bottom: 20px;
  background-color: @gray-background;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    min-height: 150px;
  }
}

.page-footer__logo-wrapper {
  margin: 0 20px 23px;
  padding: 39px 0 28px;

  text-align: center;

  border-bottom: @gray-line;
}

@media (min-width: @tablet-width) {
  .page-footer__logo-wrapper {
    .indent-reset;
    margin-right: auto;
    border: none;
  }
}

.page-footer__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
