.parameters {
  width: 100%;
  text-transform: none;
  .arial(12px, 16px, 400, #444444);

  border-collapse: collapse;

  &--additional {
    margin-bottom: 15px;
    .arial(14px, 14px);
  }
}

.parameters td {
  .indent-reset;

  &:last-child {
    text-align: right;
  }
}

// ==========================TABLET========================

@media (min-width: @tablet-width) {
  .parameters {
    .font(16px, 16px);

    td {
      padding: 8px 0 7px;
    }

    tr {
      border-bottom: 1px solid #cdcdcd;
    }

    &--additional {
      width: auto;
    }

    &--additional tr {
      border: none;
    }

    &--additional td {
      &:last-child {
        min-width: 95px;
      }
    }
  }
}

// ============================DESKTOP=========================

@media (min-width: @desktop-width) {
  .parameters {
    td {
      padding: 8px 0 7px;
    }

    tr {
      border-bottom: 1px solid #cdcdcd;
    }

    &--additional {
      .indent-reset;
      margin-top: 10px;
      width: 325px;
    }

    &--additional tr {
      border: none;
    }

    &--additional td {
      outline: 1px solid;
      .indent-reset;
      &:last-child {
        text-align: left;
        min-width: auto;
        width: 80px;
      }
    }
  }
}
