.questionnaire__heading {
  .indent-reset;
  margin-bottom: 38px;
  width: 270px;

  .font(14px, 18px);
}

.questionnaire__button {
  padding: 10px 50px;

  text-transform: uppercase;
  .font(16px, 20px, 400, #ffffff);
  border: none;
}

.questionnaire__specification {
  display: block;

  text-transform: none;
  .arial(14px, 16px, 400, #444444);
  text-align: center;
}

// ===========================TABLET========================

@media (min-width: @tablet-width) {
  .questionnaire {
    margin-bottom: 18px;
    padding-top: 30px;
  }

  .questionnaire__heading {
    margin: 0 40px;
    margin-bottom: 38px;
    width: 350px;

    .font(20px, 30px);
  }

  .questionnaire__button {
    margin-right: 62px;
    padding: 15px 66px 16px 63px;

    .font(20px, 20px, 400, #ffffff);
  }

  .questionnaire__specification {
    margin-top: 15px;
    .font(16px, 16px);
  }
}

// ========================DESKTOP=====================

@media (min-width: @desktop-width) {
  .questionnaire {
    margin-bottom: 10px;
    padding: 0;
    padding-top: 32px;
  }

  .questionnaire__heading {
    margin: 0;
  }

  .questionnaire__button {
    padding: 16px 30px 16px 34px;
    margin-right: 80px;
    width: 46.7%;
  }
}
