.slider__list {
  position: relative;

  .list-reset;
  margin: 0 auto 29px;
  width: 320px;
  min-height: 240px;
}

.slider__item {
  position: absolute;

  display: none;

  &--active {
    display: block;
  }
}

.slider__toggles {
  display: flex;

  margin: auto;

  width: 220px;
  padding-left: 7px;
}

.slider__toggle {
  text-transform: uppercase;

  border: none;
  background-color: transparent;
}

.slider__indicator {
  position: relative;
  align-self: center;

  margin: 0;
  margin-left: 13px;
  margin-right: 11px;
  width: 84px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  box-sizing: border-box;
}

.slider__indicator-line {
  position: absolute;
  top: 3px;
  right: 5px;

  width: 35px;
  height: 6px;

  background-color: @brand-color;
  border-radius: 3px;

  transition: transform 0.1s;

  &--left {
    transform: translateX(-37px);
  }
}
