.socials-list__wrapper {
  display: flex;
  justify-content: center;

  margin-bottom: 22px;
  padding-right: 10px;
  border-bottom: @gray-line;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .list-reset;
  margin: 0;
  // width: 125px;
}

.socials-list__item {
  margin: 0 19px;
  margin-bottom: 17px;
  // &:first-child {
  //   margin-right: -3px;
  // }
}

.socials-list__link {
  fill: #444444;

  &:hover {
    fill: @brand-color;
  }

  &:active {
    opacity: 0.3;
  }
}

// =============================TABLET=========================

@media (min-width: @tablet-width) {
  .socials-list {
    margin-top: 8px;
  }

  .socials-list__wrapper {
    .indent-reset;
    margin-left: 19px;

    border: none;
  }

  .socials-list__item {
    margin: 0 18px;
  }

  .socials-list__link svg {
    transform: scale(1.4);
  }
}
