.socials-list {
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;

  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.socials-list__link {
  fill: #444444;
}
