.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .list-reset;
  padding-bottom: 17px;
  margin: auto;
  margin-bottom: 16px;
  width: 125px;
}

@media (min-width: @tablet-width) {
  .socials-list {
    .list-reset;
  }
}

.socials-list__wrapper {
  margin: 0 20px;
  border-bottom: @gray-line;
}

@media (min-width: @tablet-width) {
  .socials-list__wrapper {
    .indent-reset;

    border: none;
  }
}

.socials-list__item {
  &:first-child {
    margin-right: -3px;
  }
}

.socials-list__link {
  fill: #444444;

  &:hover {
    fill: @brand-color;
  }

  &:active {
    opacity: 0.3;
  }
}
